
@{
    ViewData["Title"] = "Discounts";
}
@using Northwind.Core.Models
@model IEnumerable<Discount>

<h2 class="mt-3"><i class="fas fa-tag"></i> Product Discounts</h2>
<div class="list-group">
    @foreach (Discount discount in Model)
    {
        <div class="list-group-item">
            @discount.Title<br/>
            @discount.Description<br/>
            Discount Expires: <i>@discount.EndTime.ToString("MM/dd/yyyy")</i><br/>
            <a href="#" class="code" data-code="@discount.Code" data-product="@discount.Title"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
    }
</div>

@section Scripts
{
    <script src="/js/client.js"></script>
}